@import "variables";

.container__heroe-detail{
  margin-bottom: 3em;
  display: flex;
  justify-content: center;
}

.input-group-text__heroe-detail{
  min-width: 128px;
}

.card-header__heroe-detail{
  color: $ford-blue;
  font-size: 1.2em;
  text-align: center;

  &--flex{
    display: flex;
    align-content: center;
    justify-content: space-around;
    gap: 4em;
  }
}

.button-primary{
  &__back{
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 3em;
  }
}
