@import "variables";

.navbar {
  justify-content: center;
  border-bottom: .13em solid #ecebeb;
  margin-bottom: 2em;
}

.navbar-brand--heroes {
  color: $ford-blue;
  font-family: $fontFamilyFordAntenna;
  font-size: 250%;
}

.container__heroes{
  height: 100vh;

  &-header{
    height: 10%;
  }

  &-content{
    height: 75%;
  }

  &-footer{
    height: 10%;
  }
}
