/********************************* [START] Icomoon *********************************/
@font-face {
	font-family: 'icomoon';
	src: url($icomoon + '.eot?tbexxs');
	src: url($icomoon + '.eot?tbexxs#iefix') format('embedded-opentype'),
		url($icomoon + '.ttf?tbexxs') format('truetype'), url($icomoon + '.woff?tbexxs') format('woff'),
		url($icomoon + '.svg?tbexxs#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-help:before {
	content: '\e901';
}
.icon-circle:before {
	content: '\e902';
}
.icon-info:before {
	content: '\e903';
}
.icon-chevron-down:before {
	content: '\e904';
}
.icon-tasks-check:before {
	content: '\e905';
}
.icon-user:before {
	content: '\e906';
}
.icon-world:before {
	content: '\e907';
}
.icon-money:before {
	content: '\e908';
}
.icon-task-book:before {
	content: '\e909';
}
.icon-search:before {
	content: '\e90a';
}
.icon-hamburger:before {
	content: '\e90b';
}
.icon-checkbox-check:before {
	content: '\e90c';
}
.icon-round-arrow:before {
	content: '\e90d';
}
.icon-car:before {
	content: '\e90e';
}
.icon-arroba:before {
	content: '\e90f';
}
.icon-dialog-world:before {
	content: '\e910';
}
.icon-close:before {
	content: '\e911';
}
.icon-doble-chebron:before {
	content: '\e912';
}
.icon-excel:before {
	content: '\e913';
}
.icon-arrow-down:before {
	content: '\e914';
}
.icon-check:before {
	content: '\e915';
}
.icon-filter:before {
	content: '\e916';
}
.icon-arrow-up:before {
	content: '\e917';
}
.icon-button-plus:before {
	content: '\e918';
}
.icon-pencil:before {
	content: '\e919';
}
.icon-menu:before {
	content: '\e91a';
}
.icon-dealer:before {
	content: '\e91b';
}
.icon-additional:before {
	content: '\e91c';
}
.icon-comments:before {
	content: '\e91d';
}
.icon-copy:before {
	content: '\e91e';
}
.icon-curtailment:before {
	content: '\e91f';
}
.icon-interest:before {
	content: '\e920';
}
.icon-parameters:before {
	content: '\e921';
}
.icon-details:before {
	content: '\e922';
}
.icon-plan:before {
	content: '\e923';
}
.icon-btypes:before {
	content: '\e924';
}
.icon-close-child:before {
	content: '\e925';
}
.icon-plus:before {
	content: '\e900';
}
.icon-sales-point:before {
	content: '\e926';
}
.icon-banking-info:before {
	content: '\e918';
}
.icon-return:before {
	content: '\e927';
}
.icon-credit-limit:before {
	content: '\e928';
}
/********************************* [END] Icomoon *********************************/
