@import "variables";

.container {
  &__heroes-list {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.list-group-heroes-list{
  min-width: 40%;

}

.list-group-item{
  &:hover {
    color: $textInfo;
    transition: all 0.2s;
  }
}
