@import "variables";

.container__heroes{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.card__heroes {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  font-size: 1.2em;
  cursor: pointer;

  &:hover {
    color: $textInfo;
    transition: all 0.2s;
  }

  &--ford-blue {
    color: $uniting-blue;
  }

  &--selected {
    color: $textInfo;
  }
}
